$card-consist: #666666;
$card-blocked: #f2f2f2;
$card-blocked-elements: #737373;
$blocked-text: #b5b5b5;
$card-base: #1698d9;
$card-hover: #77c6ec;
$card-selected: #d91667;
$card-hover-selected: #ec77a8;
$caption-blocked: #ffff66;